.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.home-text100 {
  display: inline-block;
}
 
.home-text101 {
  display: inline-block;
}
 
.home-text102 {
  display: inline-block;
}
 
.home-text103 {
  display: inline-block;
}
 
.home-text104 {
  display: inline-block;
}
 
.home-text105 {
  display: inline-block;
}
 
.home-text106 {
  display: inline-block;
}
 
.home-text107 {
  display: inline-block;
}
 
.home-text108 {
  display: inline-block;
}
 
.home-text109 {
  display: inline-block;
}
 
.home-text110 {
  display: inline-block;
}
 
.home-text111 {
  display: inline-block;
}
 
.home-text112 {
  display: inline-block;
}
 
.home-text113 {
  display: inline-block;
}
 
.home-text114 {
  display: inline-block;
}
 
.home-text115 {
  display: inline-block;
}
 
.home-text116 {
  display: inline-block;
}
 
.home-text117 {
  display: inline-block;
}
 
.home-text118 {
  display: inline-block;
}
 
.home-text119 {
  display: inline-block;
}
 
.home-text120 {
  display: inline-block;
}
 
.home-text121 {
  display: inline-block;
}
 
.home-text122 {
  display: inline-block;
}
 
.home-text123 {
  display: inline-block;
}
 
.home-text124 {
  display: inline-block;
}
 
.home-text125 {
  display: inline-block;
}
 
.home-text126 {
  display: inline-block;
}
 
.home-text127 {
  display: inline-block;
}
 
.home-text128 {
  display: inline-block;
}
 
.home-text129 {
  display: inline-block;
}
 
.home-text130 {
  display: inline-block;
}
 
.home-text131 {
  display: inline-block;
}
 
.home-text132 {
  display: inline-block;
}
 
.home-text184 {
  display: inline-block;
}
 
.home-text185 {
  display: inline-block;
}
 
.home-text186 {
  display: inline-block;
}
 
.home-text187 {
  display: inline-block;
}
 
.home-text188 {
  display: inline-block;
}
 
.home-text189 {
  display: inline-block;
}
 
.home-text190 {
  display: inline-block;
}
 
.home-text191 {
  display: inline-block;
}
 
.home-text192 {
  display: inline-block;
}
 
.home-text193 {
  display: inline-block;
}
 
.home-text194 {
  display: inline-block;
}
 
.home-text195 {
  display: inline-block;
}
 
.home-text196 {
  display: inline-block;
}
 
.home-text197 {
  display: inline-block;
}
 
.home-text198 {
  display: inline-block;
}
 
.home-text199 {
  display: inline-block;
}
 
.home-text200 {
  display: inline-block;
}
 
.home-text201 {
  display: inline-block;
}
 
.home-text202 {
  display: inline-block;
}
 
.home-text203 {
  display: inline-block;
}
 
.home-text204 {
  display: inline-block;
}
 
.home-text205 {
  display: inline-block;
}
 
.home-text206 {
  display: inline-block;
}
 
.home-text207 {
  display: inline-block;
}
 
.home-text208 {
  display: inline-block;
}
 
.home-text209 {
  display: inline-block;
}
 
.home-text210 {
  display: inline-block;
}
 
.home-text211 {
  display: inline-block;
}
 
.home-text212 {
  display: inline-block;
}
 
.home-text213 {
  display: inline-block;
}
 
.home-text214 {
  display: inline-block;
}
 
.home-text215 {
  display: inline-block;
}
 
.home-text216 {
  display: inline-block;
}
 
.home-text217 {
  display: inline-block;
}
 
.home-text218 {
  display: inline-block;
}
 
.home-text219 {
  display: inline-block;
}
